@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --main-border-color: #8e8a8a;
  --light-gray: #f8f8f8;
  --background-color: #f5f5f5;
  --button-color-dark: #231f20;
  --font-titles: Trajan-pro, sans-serif;
  --font-details: Courier Prime, sans-serif;
  --font-txt: Noto sans, sans-serif;
}

body {
  font-family: Noto Sans, sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: var(--button-color-dark);
}

.noScroll {
  overflow: hidden;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div .flex-column {
  margin-right: 10px;
}

.underline-center::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  left: 0;
  bottom: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.underline-center:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.global-container {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-products {
  opacity: 0;
  border-bottom: 1px solid var(--main-border-color);
  position: absolute;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 10;
  background-color: var(--light-gray);
  right: 0;
  left: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.8s ease 0s, -webkit-box-shadow 0.8s ease 0s;
  transition: max-height 0.8s ease 0s, -webkit-box-shadow 0.8s ease 0s;
  transition: box-shadow 0.8s ease 0s, max-height 0.8s ease 0s;
  transition: box-shadow 0.8s ease 0s, max-height 0.8s ease 0s, -webkit-box-shadow 0.8s ease 0s;
}

.type-products {
  list-style: none;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.type-products div {
  margin-left: 3rem;
  width: 20%;
  display: inline-block;
}

.type-products div a {
  color: black;
  font-weight: 600;
  font-family: var(--font-titles);
  font-size: 14px;
}

.type-products div li {
  padding: 3px;
}

.type-products div li a {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12px;
  font-weight: 400;
  color: #1b1b1b;
  font-family: var(--font-txt);
}

.is-visible {
  opacity: 1 !important;
  pointer-events: auto !important;
  display: block !important;
}

input:focus-visible {
  outline: none;
}

@font-face {
  font-family: Trajan-pro;
  src: url(./fonts/trajan-pro.otf);
}

footer {
  min-height: 300px;
  border-top: 1px solid var(--main-border-color);
  font-family: var(--font-titles);
  background-color: #1f1f1f;
  padding-top: 3rem;
}

footer .footer-support {
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 4rem 0;
}

footer .footer-support:last-child {
  padding-top: 20px 30px;
  width: 50%;
  background-color: white;
  border-radius: 20px;
}

footer .footer-support:last-child span {
  color: #1f1f1f;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
}

footer .underline-center::after {
  background-color: white;
}

.footer-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 150px;
}

.footer-time-pay {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-support-timescontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.footer-time {
  text-align: center;
  color: white;
}

.footer-support-times {
  width: 100%;
  text-align: center;
  color: white;
  margin: 1.5rem 0;
}

.footer-support-times p {
  font-family: var(--font-details);
  font-size: 18px;
}

.footer-support-times span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--font-txt);
  font-size: 10px;
}

.footer-pay-methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.footer-pay-methods svg {
  padding: 0 10px;
  width: 100px;
  height: 50px;
  margin: auto;
}

@media only screen and (max-width: 669px) {
  .footer-pay-methods {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  color: #f1f1f1;
}

.footer-map span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-map iframe {
  border-radius: 1rem;
  margin: 1.5rem 0;
  width: 80%;
  height: 300px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 150px;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2rem 0;
  margin-top: 2rem;
}

.footer-info div p {
  font-family: var(--font-details);
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-info div ul {
  margin-top: 10px;
}

.footer-info div ul li {
  font-family: var(--font-txt);
  font-size: 14px;
  list-style: none;
  padding: 3px 0;
}

.footer-info div ul li:nth-child(1):hover a svg {
  fill: #1bd741 !important;
}

.footer-info div ul li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #f1f1f1;
  position: relative;
}

.footer-info div ul li a svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cls-1 {
  fill: #313232;
}

.cls-2 {
  fill: #9cc23b;
}

.footer-copyright {
  min-height: auto;
  padding: 10px 20px;
  width: 100%;
  font-family: var(--font-details);
  background: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-copyright span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  color: gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright span a {
  padding-left: 1rem;
}

.footer-copyright span a svg:hover {
  fill: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10%;
  width: auto;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: white;
  z-index: 5;
  max-height: 92px;
  min-height: 86px;
  position: relative;
}

nav a {
  color: #1b1b1b;
  letter-spacing: 1px;
}

@media only screen and (max-width: 669px) {
  nav a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  nav a svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
}

nav .hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 50;
  top: 35px;
  left: 30px;
  gap: 3px;
}

nav .hamburger-menu span {
  height: 3px;
  width: 25px;
  background-color: #1b1b1b;
}

@media only screen and (min-width: 670px) {
  nav .hamburger-menu {
    display: none;
  }
}

@media only screen and (max-width: 669px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  nav #navbarLeft {
    margin-top: 92px;
  }
  nav #navbarLeft ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav #navbarRight {
    max-width: none;
  }
  nav #navbarRight,
  nav #navbarLeft {
    background-color: white;
    padding: 0;
    min-height: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 0;
  }
}

nav .expanded {
  padding: 1em !important;
  min-height: 100px !important;
  opacity: 1 !important;
}

#navbarRight {
  padding: 5px;
  max-width: 250px;
}

.navbar-left,
.navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-family: Courier Prime, sans-serif;
  font-size: 0.8rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-left li,
.navbar-right li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.navbar-left li a,
.navbar-right li a {
  position: relative;
}

.navbar-left li a {
  cursor: pointer;
}

.counter-container {
  position: relative;
}

.counter-container span,
.counter-container #counter {
  font-family: var(--font-details);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  background: #9fea44f7;
  width: 18px;
  height: 18px;
  font-size: 0.6rem;
  font-family: system-ui;
  border-radius: 50%;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -10px;
  right: -10px;
  color: #3a3a3a;
  font-weight: 900;
  padding: 5px;
  border: 1px solid #8cd03af7;
}

.navbar-search-box {
  height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 15px 0 0;
  height: auto;
  width: 100%;
  padding: 0;
}

.navbar-search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0 10px;
  margin-right: 10px;
  color: var(--main-border-color);
  font-size: 12px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
  font-family: var(--font-txt);
}

.navbar-search-txt:focus {
  color: black;
  background-color: var(--background-color);
}

.category-title {
  text-align: center;
  text-transform: capitalize;
  margin: 3rem;
}

.container-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Noto sans, sans-serif;
  font-weight: 400;
}

.container-articles img {
  width: 100%;
  margin: auto;
  padding: 10px;
}

.container-articles .item-detail {
  width: 80%;
  border: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-articles .item-detail:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container-articles .item-detail .card-image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 600px;
}

.container-articles .item-detail .card-image img {
  width: 70%;
}

.container-articles .item-detail .sub-card {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border: none;
}

.container-articles .item-detail .sub-card .card-titulo {
  text-align: left;
}

.container-articles .item-detail .sub-card .card-titulo span {
  text-transform: lowercase;
  font-weight: 100;
  font-size: 15px;
}

.container-articles .item-detail .sub-card .card-description {
  margin: 1rem 0;
}

.container-articles .item-detail .sub-card .counter-to-cart {
  margin: 1rem 0;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 0;
}

@media only screen and (max-width: 669px) {
  .container-articles .item-detail .sub-card .counter-to-cart {
    width: auto;
  }
}

.container-articles .item-detail .sub-card .add-to-cart {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--font-details);
  padding: 1rem;
  border-radius: 0;
  color: white;
  background-color: #231f20;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.container-articles .item-detail .sub-card .add-to-cart::after,
.container-articles .item-detail .sub-card .add-to-cart::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-articles .item-detail .sub-card .add-to-cart::after {
  top: -3px;
  left: -3px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}

.container-articles .item-detail .sub-card .add-to-cart::before {
  bottom: -3px;
  right: -3px;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
}

.container-articles .item-detail .sub-card .add-to-cart:hover::after,
.container-articles .item-detail .sub-card .add-to-cart:hover::before {
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  border-color: var(--button-color-dark);
}

@media only screen and (max-width: 669px) {
  .container-articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-articles .card {
    width: 70%;
    margin: 1rem auto;
  }
  .container-articles .item-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 2em;
  }
}

.card {
  font-family: var(--font-titles);
  width: 20%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #fff;
}

.card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.card:hover {
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.card .sub-card .card-button {
  opacity: 0;
  height: auto;
}

.card:hover .sub-card .card-button {
  opacity: 1;
  height: auto;
}

.card-link-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: #fff;
  position: relative;
}

.card-link-img div {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.1);
}

.card-link-img div:hover {
  opacity: 1;
}

.sub-card {
  padding: 20px 15px 10px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.counter-to-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.counter-to-cart button {
  border: none;
  background: none;
  cursor: pointer;
  width: 20px;
}

.add-to-cart {
  width: 100%;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

#emptyCart {
  margin-top: 1.5rem;
}

.card-titulo {
  text-align: left;
  width: 100%;
  display: block;
}

.card-description {
  font-size: 12px;
  color: var(--main-border-color);
  font-family: var(--font-details);
}

.card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666;
}

.card-price-monto {
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
  padding: 10px 0;
  color: #179c15;
  font-weight: 600;
}

.card-price-conIVA {
  font-size: 0.7rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-stock {
  font-size: 0.7rem;
}

.card-button {
  position: relative;
  height: auto;
  width: auto;
  padding: 7px 25px;
  background-color: black;
  border: 1px solid black;
  color: white;
  font-family: var(--font-details);
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: auto;
}

#cart {
  fill: white;
  height: 20px;
  margin-left: -20px;
}

.button-carrito-txt {
  position: relative;
  color: white;
  font-family: var(--font-details);
  margin-left: 15px;
  text-transform: uppercase;
}

.button-carrito-txt::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 10px;
  background-color: white;
  top: 5px;
  left: -52px;
}

.button-carrito-txt::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 10px;
  background-color: white;
  top: 5px;
  left: -52px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cart-header {
  text-align: center;
  font-size: 2.5rem;
  font-family: var(--font-titles);
  font-weight: 100;
}

.cart-firstStep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem;
}

@media only screen and (max-width: 669px) {
  .cart-firstStep {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5rem 0;
  }
}

.cart-firstStep .container-carrito {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 2rem;
  padding: 1.5rem;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

@media only screen and (max-width: 669px) {
  .cart-firstStep .container-carrito {
    margin: auto;
  }
}

.cart-firstStep .container-carrito h3 {
  width: 95%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 1.2rem;
  font-family: var(--font-titles);
  font-weight: 100;
}

.cart-firstStep .container-carrito .carrito ul {
  padding: 0;
}

.cart-firstStep .cart-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--background-color);
  padding: 1.5rem;
  height: 50%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.cart-firstStep .cart-checkout div:not(:first-child) {
  padding: 1rem 0;
}

.cart-firstStep .cart-checkout h3 {
  font-family: var(--font-titles);
  margin: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 100;
}

.cart-firstStep .cart-checkout .cart-subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: var(--font-details);
}

.cart-firstStep .cart-checkout button {
  background-color: #231f20;
  color: white;
  border: none;
  padding: 1rem;
  font-family: var(--font-details);
  cursor: pointer;
  width: 100%;
}

.cart-payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.cart-payments span {
  font-family: var(--font-details);
  font-size: 13px;
  margin-top: 1rem;
}

.cart-payments div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cart-payments div svg {
  padding: 0 10px;
  width: 100px;
  height: 50px;
  margin: auto;
}

.payment-instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.payment-instructions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 30%;
}

.payment-instructions ul::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ced2d5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.payment-instructions ul li {
  position: relative;
  cursor: pointer;
}

.payment-instructions ul li .active {
  background-color: #231f20;
  border: none;
  color: white;
}

.payment-instructions ul li div {
  border: 3px solid #ced2d5;
  background-color: #fff;
  color: white;
  border-radius: 50%;
  padding: 1.5rem;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
}

.payment-instructions ul li h3 {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  z-index: 1;
  display: block;
  white-space: nowrap;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 100;
  font-family: var(--font-details);
  font-size: 13px;
  color: #666;
}

@media only screen and (max-width: 669px) {
  .payment-instructions ul {
    width: 80%;
  }
}

.cart-secondStep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem;
}

@media only screen and (max-width: 669px) {
  .cart-secondStep {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5rem 0;
  }
}

.cart-secondStep .cart-information {
  width: 100%;
  padding: 2rem;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.cart-secondStep .cart-information span {
  width: 100%;
  display: block;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  font-family: var(--font-titles);
}

.cart-secondStep .cart-information form section {
  -webkit-column-count: 2;
          column-count: 2;
}

.cart-secondStep .cart-information form section input {
  margin: 1rem;
  width: 100%;
  padding: 10px;
  font-family: var(--font-details);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.cart-secondStep .cart-information form section input input:focus {
  outline: none;
}

@media only screen and (max-width: 669px) {
  .cart-secondStep .cart-information form section input {
    margin: 1rem 0;
    padding: 10px 0;
  }
}

.cart-secondStep .cart-information form section .payment-error {
  border-bottom: 1px solid red;
}

.cart-secondStep .cart-information form section .payment-error:focus {
  outline: none;
}

.cart-secondStep .cart-information form section span {
  text-align: left;
  border: none;
}

.cart-secondStep .aside-information {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--background-color);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.cart-secondStep .aside-information .btn-complete-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-secondStep .aside-information .btn-complete-information span {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 1rem;
}

.cart-secondStep .aside-information .btn-complete-information button {
  background-color: #231f20;
  color: white;
  border: none;
  padding: 1rem;
  font-family: var(--font-details);
  cursor: pointer;
  width: 100%;
}

.cart-thirdStep {
  margin: auto;
  height: 100%;
  font-family: var(--font-details);
}

.cart-thirdStep .confirmation-order {
  width: 60%;
  margin: 4rem auto;
  min-height: 15rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: green;
  font-family: var(--font-details);
}

.cart-thirdStep .confirmation-order .success-animation {
  margin: 0 auto;
}

.cart-thirdStep .confirmation-order .checkmark {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  -webkit-box-shadow: inset 0px 0px 0px #4bb71b;
          box-shadow: inset 0px 0px 0px #4bb71b;
  -webkit-animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
          animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto 3rem 0;
}

.cart-thirdStep .confirmation-order .checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: #fff;
  -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
          animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.cart-thirdStep .confirmation-order .checkmark__check {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
          animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
}

@-webkit-keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 30px #4bb71b;
            box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}

@keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 30px #4bb71b;
            box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}

.cart-thirdStep .confirmation-order span {
  text-align: center;
}

.modal-payment-nav-card {
  width: 90%;
  max-width: 1000px;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-marca {
  border-radius: 0.1538461538em;
  background-color: #666;
  opacity: 0.1;
  width: 4.4615384615em;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.tarjeta {
  width: 100%;
  max-width: 550px;
  position: relative;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
  z-index: 16;
  border-radius: 0.8461538462em;
  -webkit-box-shadow: 0 0.30769em 0.76923em 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.30769em 0.76923em 0 rgba(0, 0, 0, 0.3);
}

.tarjeta.active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.tarjeta > div {
  padding: 30px;
  border-radius: 15px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.label {
  font-size: 13px;
  margin-bottom: 5px;
}

.numero,
.nombre,
.expiracion {
  font-size: 15px;
  text-transform: uppercase;
}

.tarjeta-delantera-datos .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.tarjeta-trasera {
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 0.8461538462em;
  -webkit-box-shadow: 0 0.30769em 0.76923em 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.30769em 0.76923em 0 rgba(0, 0, 0, 0.3);
}

.tarjeta-trasera .label {
  margin-bottom: 0 !important;
}

.tarjeta-trasera .datos {
  position: absolute;
  top: 84px;
  right: 30px;
  background-color: var(--light-gray);
  padding: 7px;
  width: 39px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tarjeta-trasera .datos::before {
  content: "";
  border-radius: 50%;
  border: 0.2307692308em solid #f04449;
  display: block;
  position: absolute;
  left: 0.031em;
  top: -0.42em;
  height: 2.0769230769em;
  width: 2.0769230769em;
}

.barra-magnetica {
  height: 40px;
  background-color: #000;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.firma {
  margin: 0.08456456rem;
  position: absolute;
  width: 77%;
  left: 20px;
  top: 84px;
}

.firma span {
  height: 0.3em;
  display: block;
}

.firma span::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.1538461538em;
}

.firma span::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1538461538em;
}

.firma span:first-child::before {
  background-image: linear-gradient(94deg, #fff, #d3d3d3);
}

.firma span:first-child::after {
  background-image: linear-gradient(94deg, #fff, #d3d3d3);
}

.firma span:nth-child(2)::before {
  background-image: linear-gradient(95deg, #fff, #d3d3d3);
}

.firma span:nth-child(2)::after {
  background-image: linear-gradient(287deg, #fff, #f7f7f7 19%, #d3d3d3);
}

.firma span:nth-child(3)::before {
  background-image: linear-gradient(93deg, #fff, #d3d3d3);
}

.firma span:nth-child(3)::after {
  background-image: linear-gradient(287deg, #fff, #f9f9f9 15%, #d3d3d3);
}

.firma span:nth-child(4)::before {
  background-image: linear-gradient(94deg, #fff, #d3d3d3);
}

.firma span:nth-child(4)::after {
  background-image: linear-gradient(290deg, #fff, #d3d3d3);
}

.firma span:nth-child(5)::before {
  background-image: linear-gradient(93deg, #fff, #d3d3d3);
}

.firma span:nth-child(5)::after {
  background-image: linear-gradient(280deg, #fff, #f6f6f6 22%, #f6f6f6 0, #f6f6f6 0, #d3d3d3);
}

.firma span:nth-child(6)::before {
  background-image: linear-gradient(92deg, #fff, #d3d3d3);
}

.firma span:nth-child(6)::after {
  background-image: linear-gradient(282deg, #fff, #fbfbfb 10%, #d3d3d3);
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.loading div {
  width: 0.475rem;
  height: 2.5rem;
  background: black;
  margin-left: 0.875rem;
  -webkit-animation: bar-loading 1s infinite alternate;
          animation: bar-loading 1s infinite alternate;
}

.loading div:nth-child(1) {
  margin: 0;
}

.loading div:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.loading div:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes bar-loading {
  0% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes bar-loading {
  0% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.modal-payment-succes {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) perspective(800px);
          transform: translate(-50%, -50%) perspective(800px);
  text-align: center;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 30px;
  border-radius: 20px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 5px 5px 10px black, inset 5px 5px 10px rgba(0, 0, 0, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.2), inset -2px -2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px black, inset 5px 5px 10px rgba(0, 0, 0, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.2), inset -2px -2px 5px rgba(0, 0, 0, 0.5);
  line-height: 1.4;
  min-height: 150px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-payment-succes.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment-succes-text {
  display: none;
}

.payment-error {
  color: red;
  border-radius: 2px;
  background-color: #f04b4b42;
}

#modal-payment {
  display: none;
  opacity: 0;
  position: fixed;
  min-width: 400px;
  min-height: 200px;
  background-color: #fff;
  font-family: var(--font-details);
  z-index: 15;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
}

.modal-payment-nav {
  padding: 1rem;
  background-color: #a2ea4985;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #74b328;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-payment-nav span {
  width: 50%;
}

.modal-payment-nav-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem;
}

.modal-payment-form {
  position: relative;
}

.modal-payment-form.active {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.modal-payment-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 200px;
}

.modal-payment-form form div span {
  margin-bottom: 0.5rem;
  font-family: var(--font-details);
  color: rgba(0, 0, 0, 0.6);
}

.modal-payment-form form div input,
.modal-payment-form form div select {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  height: 2.5rem;
  font-family: var(--font-details);
  font-size: 16px;
  padding: 5px;
  width: 100%;
  margin-bottom: 1rem;
}

.modal-payment-form form div input:focus-visible,
.modal-payment-form form div select:focus-visible {
  outline: none;
}

.modal-payment-form form div select {
  margin-top: 0.5rem;
}

.modal-payment-completeBtn {
  height: 3rem;
  width: 100%;
  border: none;
  background-color: #a2ea49;
  font-family: var(--font-titles);
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-carrito {
  border: none;
  background: transparent;
}

.btn-carrito svg {
  fill: rgba(0, 0, 0, 0.6);
}

.modalCarrito {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: fixed;
  right: -1000px;
  background: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  min-width: 250px;
  font-family: var(--font-titles);
  z-index: 11;
  bottom: 0;
  top: 0;
  width: 100vw;
  max-width: 40%;
  padding-bottom: 0;
}

@media only screen and (max-width: 669px) {
  .modalCarrito {
    min-width: 100%;
  }
}

.carritoAnimation {
  -webkit-animation-name: carritoAnimation;
          animation-name: carritoAnimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  right: 0;
}

.modal-payment-animation {
  -webkit-animation-name: paymentAnimation;
          animation-name: paymentAnimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  margin-left: 0;
}

@-webkit-keyframes paymentAnimation {
  from {
    margin-left: 1000px;
  }
  to {
    margin-left: 0;
  }
}

@keyframes paymentAnimation {
  from {
    margin-left: 1000px;
  }
  to {
    margin-left: 0;
  }
}

.carritoClose {
  -webkit-animation: carritoClose 1s;
          animation: carritoClose 1s;
  right: -1000px;
}

@-webkit-keyframes carritoAnimation {
  from {
    right: -1000px;
  }
  to {
    right: 0;
  }
}

@keyframes carritoAnimation {
  from {
    right: -1000px;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes carritoClose {
  from {
    right: 0;
  }
  to {
    right: -1000px;
  }
}

@keyframes carritoClose {
  from {
    right: 0;
  }
  to {
    right: -1000px;
  }
}

.carrito-cant {
  text-align: center;
  font-family: var(--font-details);
}

.carrito-cant-selector {
  text-align: left;
  width: 100%;
  display: block;
}

.carrito-cant-selector select {
  border: 1px solid var(--main-border-color);
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-size: 14px;
}

.item-total-price {
  margin-right: 1rem;
}

.carrito {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carrito #carrito {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 20px;
}

.carrito #carrito .counter-to-cart {
  border: none;
  border-radius: none;
  font-size: 15px;
  margin: 0.5rem 0;
}

.carrito #carrito .counter-to-cart span {
  padding: 0;
  border-bottom: none;
}

.container-carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.container-carrito span {
  padding: 20px;
  border-bottom: 1px solid var(--light-gray);
}

.container-carrito-total {
  position: relative;
  bottom: 0;
  right: 0;
  margin-right: 1rem;
  border-top: 1px solid #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 20px;
  width: 100%;
}

.container-carrito-total div {
  font-family: var(--font-details);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-carrito-total div p {
  font-size: 18px;
  text-transform: initial;
}

.container-carrito-pagar {
  background-color: #f8f8f8;
}

.btn-cerrar-carrito {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-cerrar-carrito svg {
  fill: rgba(0, 0, 0, 0.47);
  width: 30px;
  height: 30px;
}

.btn-cerrar-payment {
  position: absolute;
  right: 15px;
  top: 13px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 50;
}

.btn-cerrar-payment svg {
  fill: rgba(0, 0, 0, 0.47);
  width: 20px;
  height: 20px;
}

.container-btn-pagar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.btn-pagar {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  font-family: var(--font-details);
  cursor: pointer;
  padding: 0.5rem 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
}

.btn-pagar:hover {
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
}

#btn-vaciar {
  font-family: var(--font-details);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.overlay {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#carrito {
  list-style: none;
  margin: 1.5rem 0;
}

#carrito-modal {
  cursor: pointer;
}

#total {
  margin-left: 10px;
}

.carrito-img {
  width: 100%;
}

.carrito-details {
  font-family: var(--font-details);
  width: 80%;
  color: var(--main-border-color);
  text-transform: initial;
}

.carrito-details p:nth-child(1) {
  color: black;
  font-size: 18px;
}

.carrito-details p:nth-child(2) {
  font-size: 12px;
}

.carrito-details p {
  padding: 5px 0;
}

.container-carrito .carrito .itemCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.container-carrito .carrito .itemCarrito a {
  width: 30%;
}

.container-carrito .carrito .itemCarrito a img {
  width: 100%;
}

.container-carrito .carrito .itemCarrito:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.container-carrito .carrito .itemCarrito:hover {
  background-color: var(--background-color);
}

.container-carrito .carrito .itemCarrito .carrito-details {
  padding-left: 1rem;
}

.container-carrito .carrito .itemCarrito .counter-to-cart {
  width: 100%;
  border: 1px solid #ddd;
}

@media only screen and (max-width: 669px) {
  .container-carrito .carrito .itemCarrito {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-carrito .carrito .itemCarrito a {
    width: auto;
  }
}

.itemCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.itemCarrito a {
  width: 30%;
}

.itemCarrito a img {
  width: 100%;
}

.itemCarrito:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.itemCarrito:hover {
  background-color: var(--background-color);
}

.itemCarrito .carrito-details {
  padding-left: 1rem;
}

.borrar-itemCarrito {
  margin-top: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 7px 15px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  background: none;
  font-family: var(--font-details);
  cursor: pointer;
}

.borrar-itemCarrito:hover {
  background-color: rgba 0, 0, 0, 0.8;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
}

.borrar-itemCarrito:active, .borrar-itemCarrito:focus {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

.loader-2 {
  margin: 44px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loader-2 {
  height: 80px;
  width: 80px;
}

.loader-2 .spin {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: auto;
  height: 80px;
  width: 80px;
  border: 10px solid #ede7f6;
  border-top: 10px solid #000;
  border-radius: 50%;
  -webkit-animation: loader-2-spin 2s linear infinite;
          animation: loader-2-spin 2s linear infinite;
}

@-webkit-keyframes loader-2-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader-2-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-wrapper .carousel {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-wrapper .carousel .carousel__photo {
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
  -webkit-transition: opacity 0.5s, z-index 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, z-index 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s, -webkit-transform 0.5s;
  height: 100%;
}

.carousel-wrapper .carousel .carousel__photo.initial,
.carousel-wrapper .carousel .carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel-wrapper .carousel .carousel__photo.prev,
.carousel-wrapper .carousel .carousel__photo.next {
  z-index: 800;
}

.carousel-wrapper .carousel .carousel__photo.prev {
  -webkit-transform-style: translateX(-100%);
          transform-style: translateX(-100%);
}

.carousel-wrapper .carousel .carousel__photo.next {
  -webkit-transform-style: translateX(100%);
          transform-style: translateX(100%);
}

.carousel-wrapper .carousel .carousel__button--prev,
.carousel-wrapper .carousel .carousel__button--next {
  position: absolute;
  top: 40%;
  width: 7rem;
  height: 7rem;
  -webkit-transform-style: translateY(-50%);
          transform-style: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
}

.carousel-wrapper .carousel .carousel__button--prev::after,
.carousel-wrapper .carousel .carousel__button--next::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.carousel-wrapper .carousel .carousel__button--prev {
  left: 0;
}

.carousel-wrapper .carousel .carousel__button--next {
  right: 0;
}

.carousel-wrapper .carousel .carousel__button--next::after {
  left: 47%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

@media only screen and (max-width: 669px) {
  .carousel-wrapper {
    display: none;
  }
}

.container-checkout {
  margin: 0 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: red;
  height: 100%;
  width: 100%;
}

.checkout-payment {
  color: green;
}

.checkout-cart {
  color: blue;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */