nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10%;
  width: auto;
  transition: all 1s ease-in-out;
  background-color: white;
  z-index: 5;
  max-height: 92px;
  min-height: 86px;
  position: relative;
  a {
    color: #1b1b1b;
    letter-spacing: 1px;
    @media only screen and (max-width: 669px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      svg {
        display: flex;
        margin: auto;
      }
    }
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 50;
    top: 35px;
    left: 30px;
    gap: 3px;
    span {
      height: 3px;
      width: 25px;
      background-color: #1b1b1b;
    }
    @media only screen and (min-width: 670px) {
      display: none;
    }
  }
  @media only screen and (max-width: 669px) {
    flex-direction: column;
    padding: 0;
    #navbarLeft {
      margin-top: 92px;
      ul {
        flex-direction: column;
      }
    }
    #navbarRight {
      max-width: none;
    }
    #navbarRight,
    #navbarLeft {
      background-color: white;
      padding: 0;
      min-height: 0;
      transition: all 1s ease-in-out;
      opacity: 0;
    }
  }
  .expanded {
    padding: 1em !important;
    min-height: 100px !important;
    opacity: 1 !important;
  }
}
#navbarRight {
  padding: 5px;
  max-width: 250px;
}

.navbar-left,
.navbar-right {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-family: Courier Prime, sans-serif;
  font-size: 0.8rem;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  li {
    display: flex;
    padding: 10px;
    a {
      position: relative;
    }
  }
  @media only screen and (max-width: 669px) {
    // display: none;
  }
}

.navbar-left {
  li a {
    cursor: pointer;
  }
}

.counter-container {
  position: relative;
  span,
  #counter {
    font-family: var(--font-details);
    user-select: none;
    position: absolute;
    background: #9fea44f7;
    width: 18px;
    height: 18px;
    font-size: 0.6rem;
    font-family: system-ui;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10px;
    right: -10px;
    color: #3a3a3a;
    font-weight: 900;
    padding: 5px;
    border: 1px solid #8cd03af7;
    // &:not(.animated-counter){
    //     display: none;
    // }
  }
}

.navbar-search-box {
  // transform: translate(-50%, -50%);
  height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  flex-direction: row;
  margin: 0 15px 0 0;
  height: auto;
  width: 100%;
  padding: 0;
}

.navbar-search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0 10px;
  margin-right: 10px;
  color: var(--main-border-color);
  font-size: 12px;
  transition: 0.4s;
  width: 100%;
  font-family: var(--font-txt);
  &:focus {
    color: black;
    background-color: var(--background-color);
  }
}
